@import "tailwindcss";


/* Variables CSS globales */
:root {
  --primary: #a80707;
  --background: #ffffff;
  --secondary: #ff4d4f;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: color-mix(in srgb, var(--primary) 80%, black);
}

.from-primary {
  --tw-gradient-from: var(--primary) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
